[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mapmixture"]
	path = mapmixture
	url = https://github.com/tom-jenkins/mapmixture
